@inject ISiteContextResolver siteResolver
@inject ICoreThemeHelper themeHelper
@{
    var Tenant = await siteResolver.ResolveSite(Context.Request.Host.Host, Context.Request.Path);
    var siteRoot = "";
    if (!string.IsNullOrWhiteSpace(Tenant.SiteFolderName)) { siteRoot = "/" + Tenant.SiteFolderName; }
    var isIE = Context.Request.Headers["User-Agent"].ToString().Contains("Trident");
    var ieBodyClass = isIE ? "IE" : "";
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - @(Tenant?.SiteName ?? "Sample")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @RenderSection("Meta", required: false)

    @if (isIE)
    {
        <link rel="stylesheet" href="~/css/ie11.css" />
    }
    
    <base href="@Context.Request.Path" />
</head>
<body>
    
     @RenderBody()

    
    @RenderSection("Toolbar", required: false)
    <environment names="Development">
        <script src="~/js/jquery.min.js" cs-resolve-theme-resource="true" cs-tenant="@Tenant"></script>
        <script src="~/js/bootstrap.bundle.js" cs-resolve-theme-resource="true" cs-tenant="@Tenant"></script>
        <script src="~/cr/js/bs4.smartmenus.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery.min.js" cs-resolve-theme-resource="true" cs-tenant="@Tenant"></script>
        <script src="~/js/bootstrap.bundle.min.js" cs-resolve-theme-resource="true" cs-tenant="@Tenant"></script>
        <script src="~/cr/js/bs4.smartmenus.min.js"></script>
    </environment>
    @RenderSection("Bottom", required: false)
    @RenderSection("Scripts", required: false)
    @Html.RenderResources("js") @*render any js resources declared via helpers in partial views etc*@
    <add-this profile-id="@Tenant.AddThisDotComUsername" async></add-this>
</body>
</html>
